@import url('https://fonts.cdnfonts.com/css/graphik');
                

 *{font-family: 'Graphik', sans-serif;
  text-decoration: none !important;
 }
.Navlocker{
   background-color: rgb(23 23 23);
}
.Cont{
   background-image: linear-gradient(to right ,#733a5e, #cc7873, #301b1f);
}
.Hero1{
   overflow-x: scroll;
   overflow-y: hidden;
   scroll-behavior: smooth;
}

.scrollbody::-webkit-scrollbar{
   display: none !important;;
}

.no-outline:focus{
   outline: none;
 }

.HeroPcon{
   width: 200px!important;
 
}
.foot{
   background-color: whitesmoke;
}

/* .foot1{
   margin-right: 70px;
} */

@media screen and (min-width: 768px){
   .HeroPage{
      width: 270px!important;
   }

}





















 /* .tv-show{
    color:black
 }
 .tvshow{
    max-width: 530px;
    display: flex;
    text-align: center;

 }

 .btn{
    margin-left: 195px;
    border-radius: 5px;
    border:none !important;

 }
 .con2{
    background: orange;
    padding-left: 100px; 
    padding-right: 100px;
 }

 .namet{
    color: rgb(118, 195, 237);
 } */